<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.partyMatching.mapper.UserMapper">

    <select id="testInsert" >
        insert into partytest
        values("2","2","2")
    </select>

    <!--로그인 하는 아이디, 비번 일치여부 판단, 아이디 넘김-->
    <!--인자로 받은 dto의 변수 id, pw 사용-->
    <select id="loginCheck" resultType="String">
        SELECT id FROM userInfo
        WHERE id=#{ID} AND pw=#{PW}
    </select>

    <select id="charIn">
        INSERT INTO userchar
        VALUES(#{ID}, #{nickname}, #{server}, #{level}, #{status}, #{force});
        INSERT INTO char_party_ex
        VALUES (#{nickname},"0","0","0","0","0")
    </select>

    <select id="showChar" resultType="Map">
        SELECT nickname, server, level, status, arcforce FROM userchar
    </select>

    <select id="specIn">
        INSERT INTO specification
        VALUES(#{leaderName},#{bossName},#{numOfChar},#{sserver},#{minLevel},#{minStatus},#{minForce})
    </select>

    <select id="showSpec" resultType="Map">
        SELECT leaderName,bossName, numOfChar, sserver, minLevel, minStatus, minForce
        FROM specification
    </select>

    <select id="getMatchingChar" resultType="Map">

    </select>

</mapper>